<!DOCTYPE html>
<html data-ng-app="atlas">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Atlas Shared</title>
    <base href="/">

    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/components/angular-resource/angular-resource.js"></script>

    <link rel="stylesheet" href="components/skeleton/css/normalize.css">
    <link rel="stylesheet" href="components/skeleton/css/skeleton.css">

    <script src="/components/mapbox.js/mapbox.js"></script>
    <link rel="stylesheet" href="/components/mapbox.js/mapbox.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="/components/leaflet-geocoder-mapzen/dist/leaflet-geocoder-mapzen.js"></script>
    <link rel="stylesheet" href="/components/leaflet-geocoder-mapzen/dist/leaflet-geocoder-mapzen.css">


    <script src="js/app.js"></script>

    <script src="js/trips/trips.js"></script>
    <script src="js/trips/trip.factory.js"></script>
    <script src="js/trips/form.directive.js"></script>
    <script src="js/trips/map.directive.js"></script>

    <script src="js/locations/locations.js"></script>
    <script src="js/locations/location.factory.js"></script>
    <script src="js/locations/form.directive.js"></script>
    <script src="js/locations/show.directive.js"></script>

    <script src="js/users/users.js"></script>
    <script src="js/users/user.factory.js"></script>
    <script src="js/users/trip.factory.js"></script>
    <script src="js/users/profile.factory.js"></script>
    <script src="js/users/index.controller.js"></script>
    <script src="js/users/show.controller.js"></script>

    <script src="js/trips/index.controller.js"></script>
    <script src="js/trips/show.controller.js"></script>

    <script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
      if (window.history && history.pushState) {
          window.history.pushState("", document.title, window.location.pathname);
      } else {
          // Prevent scrolling by storing the page's current scroll offset
          var scroll = {
              top: document.body.scrollTop,
              left: document.body.scrollLeft
          };
          window.location.hash = '';
          // Restore the scroll offset, should be flicker free
          document.body.scrollTop = scroll.top;
          document.body.scrollLeft = scroll.left;
      }
    }
    </script>
  </head>
  <body>
    <header class="row">
      <div class="container">
                {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
        {{/if}}

        <div class="one-half column">
          <h1>Atlas Shared</h1>
        </div>

        <div class="one-half column">
          <ul>
          {{#if currentUser}}
            <li>{{currentUser.name}}</li>
            <li><img class="profile-pic" src="{{currentUser.photo}}" alt=""></li>
            <li><a class="btn btn-primary" href="/logout" target="_self">Logout</a></li>
          {{else}}
          <li>
            <form method="post" action="/login">
              <p><a class="btn btn-primary" href="/auth/facebook">Login using Facebook</a></p>
            </form>
          </li>
          {{/if}}
        </ul>
        </div>
      </div>


    </header>
    <main class="section">
      {{{body}}}
    </main>
    <footer>
      &copy; Atlas Shared
    </footer>
  </body>
</html>
